/* Styles set on a parent element will be passed on to child elements (they cascade down) */

body {
  background-color: rgb(175, 215, 201);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  /* font-size: 20px; */
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
}

.first {
  color: darkblue;
  font-family:'Courier New', Courier, monospace;
}

#your-name {
  background-color:aquamarine;
  /* border properties will not be inherited by child elements inside the #your-name element */
  border: .5rem solid darkblue;
}